<h2>login works!</h2>
<div class="container">

    <form [formGroup]="loginSucessForm" (ngSubmit)="onLogin()">
        <div class="form-group">
            <label for="email"  style="font-weight: bold;">Email</label>
            <input type="text" id="email" formControlName="email" class="form-control input-short"
                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">Username is required</div>
            </div>
        </div>
    

          <div class="form-group">
            <label for="password" style="font-weight: bold;">Password</label>
            <input type="password" id="password" formControlName="password" class="form-control input-short"
                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"  maxlength="10"/>
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']">Password is required</div>
            </div>
        </div>

        <div>
            <button class="btn btn-success">Login</button>
           </div>
           <div>
            <button routerLink="/register" class="btn btn-primary">Register</button>
           </div>
       
            <!-- <button  routerLink="/login" class="btn btn-info">Login</button> -->
        
</form>