
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}


label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}


input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.form-check-input {
    margin-top: 6px;
}


.btn {
    margin-top: 10px;
    margin-right: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}



.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}


.table th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}


.table td {
    border: 1px solid #ddd;
    padding: 8px;
}


.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}


.table button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-right: 5px;
}


.table button:hover {
    background-color: #0056b3;
}
.red-icon {
    color: red;
  }
  .disabled-row {
    opacity: 0.5; 
    pointer-events: none; 
  }


